{{ define "main" }}
<div class="section hero">
    <div class="container">
        <h1 class="section-heading section-sized-heading">{{ .Title }}</h1>
        {{ partial "readingtime.html" . }}
        <i class="far fa-calendar"></i> {{.Date.Format "2006-01-02"}},
        <i class="far fa-clock"></i> Reading Time: {{ .ReadingTime }} {{ .Scratch.Get "readingTime" }}
        </h6>
    </div>
</div>

<div class="section main">
    <div class="row content">
        <article>
            {{ .Content }}
        </article>
    </div>
</div>

{{ if .Store.Get "hasMermaid" }}
<script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
    document.addEventListener("DOMContentLoaded", function() {
        mermaid.initialize({ startOnLoad: true });
    });
    window.mermaid = mermaid; // Make mermaid available globally
</script>
{{ end }}

{{ end }}

