<meta charset="utf-8">
<title>{{ if .Page.Title }}{{ .Page.Title }} - {{ end }}{{ .Site.Title }}</title>
<meta name="description"
    content="{{ with .Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}">
{{ with .Site.Params.author }}
<meta name="author" content="{{ . }}">{{ end }}

<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

<!-- CSS
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
{{ $css := "css/normalize.css" | absURL }}
<link rel="stylesheet" href="{{ $css }}">
{{ $css := "css/barebones.css" | absURL }}
<link rel="stylesheet" href="{{ $css }}">
{{ $css := "css/custom.css" | absURL }}
<link rel="stylesheet" href="{{ $css }}">
{{ $css := "css/prettify.css" | absURL }}
<link rel="stylesheet" href="{{ $css }}">
{{ $css := "css/github-prettify-theme.css" | absURL }}
<link rel="stylesheet" href="{{ $css }}">
{{ $css := "css/github-prettify-theme-dark.css" | absURL }}
<link id="prettify-dark" rel="stylesheet" href="{{ $css }}" disabled>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.0/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

<!-- Scripts
–––––––––––––––––––––––––––––––––––––––––––––––––– -->  
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/js/all.min.js"></script>
{{$script := "js/site.js" | absURL }}
<script src="{{ $script }}"></script>


{{ if .Site.Params.favicon }}
{{ $favicon := .Site.Params.favicon | absURL }}
<link rel="shortcut icon" href="{{ $favicon }}" type="image/png" />
{{ end }}