{{ define "main" }}

{{ partial "hero.html" . }}

<div class="section main">
  <div class="row content">
    <article>
      {{ range first 3 (where .Site.RegularPages "Type" "post" )}}
      {{ partial "readingtime.html" . }}
      <div class="grid-container halves">
        <div class="halves left"> <i class="far fa-calendar"></i> {{.Date.Format "2006-01-02"}}</div>
        <div class="halves right"> <i class="far fa-clock"></i> Reading Time: {{ .ReadingTime }}
          {{ .Scratch.Get "readingTime" }}</div>
      </div>
      <h5>
        <a href="{{.RelPermalink}}" class="category" alt="{{.Title}}" title="{{.Title}}">{{.Title}}</a>
      </h5>
      <div>
      <span class="tag">
        {{ range .Params.Tags }}
        <a href="{{ "/tags/" | relLangURL}}{{ . | urlize }}">
          #{{.}}
        </a>
      {{ end }}
      </span>
      </div>
      <p class="card-text">{{ .Summary }}</p>
      <div class="grid-container halves">
        <div class="halves left"><a class="button" href="{{ .Permalink }}">Read More</a></div>
        <div class="halves"></div>
      </div>
      <hr> 
    {{ end }}
    <div class="grid-container thirds">
    <div class="thirds"></div>
    <div class="thirds">
      <a class="button" href="{{ "/posts/" | relLangURL}}">All Posts</a>
    </div>
    </div>
    <div class="thirds"></div>
  </article>
  </div>
</div>
{{ end }}